# Data Science Tools and Ecosystem #

In [ ]:
# Data Science Tools and Ecosystem #

***In this notebook, Data Science Tools and Ecosystem are summarized.***

In [ ]:
***In this notebook, Data Science Tools and Ecosystem are summarized.***

**Objectives:**
+ Popular languages that Data Scientists
+ Libraries used by Data Scientists
+ Data Science Tools
+ Few examples of evaluating arithmetic expressions in Python

In [ ]:
**Objectives:**
+ Popular languages that Data Scientists
+ Libraries used by Data Scientists
+ Data Science Tools
+ Few examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are: ###
1. Python
2. Java
3. C++
4. R

In [ ]:
### Some of the popular languages that Data Scientists use are: ###
1. Python
2. Java
3. C++
4. R

### Some of the commonly used libraries used by Data Scientists include: ###
1. Pandas
2. Numpy
3. Seaborn
4. Scikit

In [ ]:
### Some of the commonly used libraries used by Data Scientists include: ###
1. Pandas
2. Numpy
3. Seaborn
4. Scikit

| Data Science Tools |
|--------------------| 
|MySQL|
|KubeFlow|
|TensorFlow|
|Prometheus|

In [ ]:
| Data Science Tools |
|--------------------| 
|MySQL|
|KubeFlow|
|TensorFlow|
|Prometheus|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [16]:
### Below are a few examples of evaluating arithmetic expressions in Python ###

*This a simple arithmetic expression to mutiply then add integers*

In [30]:
## This a simple arithmetic expression to mutiply then add integers
X=(3*4)+5
print("(3*4)+5="+str(X))

(3*4)+5=17

*This will convert 200 minutes to hours by diving by 60*

In [29]:
## This will convert 200 minutes to hours by diving by 60
t=200
h=t/60
print("t="+str(t)+"min")
print("h="+str(t)+"/60")
print("h="+str(h)+"h")

t=200min
h=200/60
h=3.3333333333333335h

## Author ##
*Jos√© Alejandro Cerpa Apablaza*